<div class="section-details">
    <div class="section-title">Inviter des Participants</div>
</div>
<div class="section-main">
    <div class="form-row">
        <div class="form-group optional">
            <label>Emails des Participants</label>
            <tags-input max-length="50" allowed-tags-pattern="{{emailRegex}}" display-property="email" ng-model="event.emails" placeholder="Ajouter un Email" type="email" autocomplete="off"></tags-input>
            <input type="hidden" name="shouldCreate" value="true" />

        </div>
    </div>
</div>
