extends ./layout.pug

block style
    link(rel='stylesheet', href='/css/landing.css', media='screen', charset='utf-8')

block scripts
    script(type='text/javascript', src='/vendor/angular/angular.min.js')
    script(type='text/javascript', src='/vendor/ngSmoothScroll/angular-smooth-scroll.min.js')
    script(type='text/javascript', src='/vendor/skrollr/dist/skrollr.min.js')
    script(type='text/javascript').
        var app = angular.module('landing', ['smoothScroll']);


block content
    div(ng-app='landing')
        section#intro.intro: .intro-overlay: .container
            header.header: .container
                a.logo(href='/')
                    img(src='/images/logo.png', alt='Agenda BDE')
                nav.main-nav
                    ul.links
                        li: a.active(href='#', scroll-to='intro') Accueil
                        li: a(href='#', scroll-to='features') Fonctionnalités
                        li: a(href='#', scroll-to='about') A Propos
            .intro-headline
                h1 Agenda BDE
                h2 Trouver la meilleure date pour un event avec l'équipe
            .intro-actions
                a#schedule-event.button.primary(href='/new') Créer un Event
                    span.free-label
                //-a#view-demo.button(href='/example') Voir la liste des Events
            .intro-shots
                .desktop
                .mobile
        section#features.landing-section: .container
                h3 Fonctionnalités
                h4 Agenda BDE rend la collaboration avec l'équipe rapide et facile
                .features
                    .feature
                        .image: img(src='/images/landing/share.png', width='48')
                        h5 Share
                        p Créez une page pour votre prochain événement et partagez-la avec votre équipe.
                    .feature
                        .image: img(src='/images/landing/discuss.png', width='48')
                        h5 Discuss
                        p Discutez des détails de l'événement avec votre équipe directement sur la page de l'événement.
                    .feature
                        .image: img(src='/images/landing/vote.png', width='48')
                        h5 Vote
                        p Dire quelles dates fonctionnent le mieux pour vous et trouvez une date commune pour votre événement.
                .seperator#about
                h3 A Propos
                h4 Questions Fréquentes
                .questions-section
                    .questions-col
                        .question
                            h6 C'est gratuit ?
                            p Oui, Agenda BDE est complètement gratuit.
                        .question
                            h6 Est-ce que je peux proposer des nouvelles fonctionnalités?
                            p
                                | NON
                                | .
                    .questions-col
                        .question
                            h6 Pourquoi avoir créé Agenda BDE?
                            p
                                | Pour Clara.

        section#share.landing-section.bottom: .container
            .seperator


        //- section#stats.landing-section.bottom: .container
        //-     .seperator
        //-     .stats
        //-         h3 Stats
        //-         h4
        //-             span.event-count= eventCount
        //-             |  Events Created
        //-         .actions
        //-             a.button.primary(href='/new') Schedule an Event
        //-             a.button(href='/example') View Demo
        section#footer.footer-section: .container
            footer.footer
                .logo.footer-col
                    img(src='/images/logo_light.png', width='100')

