<div class="box">
    <div class="box-title">Questions Fréquentes</div>
    <div class="box-description">
        Vous voulez en savoir plus sur Agenda BDE? Consultez la FAQ ci-dessous.
    </div>    <h2>Qu'est-ce que l'Agenda BDE?</h2>
    <p>
        Agenda BDE est un service d'ordonnancement collaboratif qui permet de choisir une date rapidement et facilement. En d'autres termes, Agenda BDE vous aide, vous et votre équipe, à fixer une date pour organiser un événement.
    </p>
    <h2>C'est gratuit ?</h2>
    <p>
        Oui, Agenda BDE est complètement gratuit.
    </p>
    <h2>Pourquoi avoir créé Agenda BDE?</h2>
    <p>
        Pour Clara.
    </p>
</div>
