<div class="box">
    <div class="box-title">Programmer un Event</div>
    <div class="box-description">
        Remplissez le formulaire ci-dessous pour créer votre event et le partager avec vos amis et collègues.
    </div>
    <form novalidate autocomplete="off" name="form" ng-hide="eventUrl" ng-submit="submit()">
        <section class="box-section" user-form form="form" event="event">

        </section>

        <section class="box-section" event-form form="form" event="event">

        </section>

        <section class="box-section" date-form form="form" event="event">

        </section>

        <section class="box-section" participants-form form="form" event="event">

        </section>

        <section class="box-section" settings-form form="form" event="event">

        </section>

        <div class="box-controls box-bottom-sticky">
            <button type="submit" class="btn">Créer un Event</button>
        </div>

    </form>
    <div class="box-message animated zoomIn" ng-show="eventUrl">
        <div class="main-image">
            <img src="/images/success_large.png" width="100" />
        </div>
        <div class="title">Event Créé</div>
        <div class="content">
            Votre event a été créé avec succès! Un courriel a été envoyé à chaque participant avec un lien vers la page de l'événement. 
        </div>
        <div class="mini-divider">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" disabled="true" value="{{eventUrl}}" />
            <a href="{{eventUrl}}" class="btn form-btn">GO</a>
        </div>
    </div>
</div>
