<div class="date-picker">
    <div class="wrapper">
        <div class="date-picker-head">
            <a href="#" class="arrow" ng-click="prevMonth()">&#10094;</a>
            <span class="title">
                <span class="title-text">{{title}}</span>
            </span>
            <a href="#" class="arrow" ng-click="nextMonth()">&#10095;</a>
        </div>
        <div class="dow">
            <div class="day">
                Di
            </div>
            <div class="day">
                Lu
            </div>
            <div class="day">
                Ma
            </div>
            <div class="day">
                Me
            </div>
            <div class="day">
                Je
            </div>
            <div class="day">
                Ve
            </div>
            <div class="day">
                Sa
            </div>
        </div>
        <div class="values">
            <div ng-repeat="day in days" class="value"  ng-class="{ outside : day.isOutsideMonth, today : day.isToday, active : isActive(day.date) }" ng-click="selectDay(day)">
                {{day.date | date : 'd' }}
            </div>
        </div>
    </div>
</div>
